<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name = "Parallel Testing Suite" parallel = "tests" thread-count="4">
    <test name = "User test">
        <classes>
            <class name="tests.UserTest"/>
        </classes>
    </test>
    <test name="Resource Test">
        <classes>
            <class name="tests.ResourceTest"/>
        </classes>
    </test>
    <test name="AppUser test">
        <classes>
            <class name="tests.AppUserTest"/>
        </classes>
    </test>
    <test name="Collections test">
        <classes>
            <class name="tests.CollectionsTest"/>
        </classes>
    </test>
</suite>